<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414170553736-ds93kjlh3595ke68kaq9fh5ifcal8tvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414170553736-ds93kjlh3595ke68kaq9fh5ifcal8tvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414170553736-6j6funmtb30eenjkm4adakirj2v1b9ll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXCUC2HiimXAZ1kV25rT7wlmURbJUtE-o</string>
	<key>GCM_SENDER_ID</key>
	<string>414170553736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primaxsolarenergy.primax</string>
	<key>PROJECT_ID</key>
	<string>primax-ebb0c</string>
	<key>STORAGE_BUCKET</key>
	<string>primax-ebb0c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414170553736:ios:9822b3f7a7d20d53f92e3d</string>
</dict>
</plist>